/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
}

header {
    background: black;
    color: white;
    padding: 3px;
    text-align: center;
}

main {
    display: flex;
    color: white;
    font-size: 30px;
    font-family: Calibri;
    font-weight: bold;
    text-transform: uppercase;
    flex-direction: column;
    text-align: center;
}

main section:first-of-type {
    background: grey;
    height: 750px;
    padding-top: 325px;
}

main section:nth-of-type(2) {
    background: darkgrey;
    height: 300px;
    padding-top: 120px;
}

main section:nth-of-type(3) {
    background: grey;
    height: 150px;
    padding-top: 50px;
}

main section:nth-of-type(4) {
    background: darkgrey;
    height: 100px;
    padding-top: 30px;
}

main section:nth-of-type(5) {
    background: grey;
    height: 250px;
    padding-top: 100px;
}

main section:last-of-type {
    background: darkgrey;
    height: 250px;
    padding-top: 100px;
}

footer {
    background: black;
    color: white;
    padding: 100px;
    text-align: center;
}